@{
    ViewBag.Title = "Sobre";
    ViewBag.Message = "Info-Business";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Aplicação web desenvolvida com o objetivo de catalogar uma lista de funcionários de uma empresa fictícia.</p>

<h4>Especificações:</h4>
<ul id="lista_tipo_circle">
    <li>IDE Visual Studio Enterprise 2017 v15.9.17</li>
    <li>Linguagem C#</li>
    <li>ASP.NET MVC 5</li>
    <li>Entity Framework 5.0 (ADO.NET Entity Data Model)</li>
    <li>Bootstrap v3.3.7</li>
    <li>AngularJS v1.7.8</li>
</ul>